* {
    font-family: Arial, sans-serif;
}

#head-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dotted black;
    padding: 10px;
}

#header {
    flex: 1;
    text-align: center;
    margin-right: 00px;
}

#nav-btns {
    flex: 1;
    text-align: end;
}

#search-bar{
    flex:1
}

#search-button {
    padding: 5px 10px;
}

#search-button{
    margin-left: 10px;
}

#search-input {
    padding: 5px
}

#nav-btns > * {
    margin-right: 10px;
}

h1 {
    font-size: 30px;
}

.container-home {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 20px;
}

.container-home > *{
    border: 1px dotted black;
}

.container-search {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(300px, auto);
}

.container-search > * {
    border: 1px dotted black;
}

.row-movies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.row-movies > * {
    margin: 20px 0px;
    border: 1px dotted;
    min-width: 200px;
}

#movie-box {
    margin: 60px;
}

#movie-box > * {
    margin-top: 5px;
    border: 1px dotted black;
}

