* {
    font-family: 'Nunito', Arial, sans-serif;
}

:root {
    --darkBlue: #2F4550;
    --mainBlue: #586F7C;
    --babyBlue: #B8DBD9;
    --mainWhite: #F4F4F9;
}

#head-nav {
    border-bottom: 1px dotted black;
    padding: 10px;
    background-color: var(--darkBlue);
    color: var(--mainWhite);
}

body{
    background-color: var(--mainBlue);
}
#header {
    text-align: center;
    margin-right: 00px;
}

#nav-btns {
    text-align: end;
}

#search-button {
    padding: 5px 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: black;
    background-color: var(--mainWhite)
}

#search-button:hover{
    box-shadow: 0px 0px 2px 2px var(--babyBlue);
    transition: ease-in-out 0.2s;
}

#search-input:hover{
    box-shadow: 0px 0px 2px 2px var(--babyBlue);
    transition: ease-in-out 0.2s;
}

#search-input {
    padding: 5px;
    color: black;
    width: 250px;
    margin-bottom: 5px;
}

#nav-btns > * {
    margin-right: 10px;
    box-shadow: 2px 2px black;
}

.custom-button {
    background-color: var(--mainBlue);
    border: none;
    box-shadow: 2px 2px black;
    border-radius: 999px;
    color: #F4F4F9;
}

.custom-button:hover{
    background-color: var(--babyBlue);
}

#home-button:hover{
    text-decoration: none;
    color: var(--mainWhite);
    background-color: var(--babyBlue);
 } 

h1 {
    font-size: 40px;
}

#header {
    text-shadow: 4px 2px black;
}

.container-home {
    padding-top: 20px;
    border: 1px solid var(--darkBlue);
    color: var(--mainWhite);
    text-shadow: 4px 4px var(--darkBlue);
}

.custom-jumbotron{
    padding: 7rem 2rem;
    background-image: linear-gradient(rgba(96, 100, 100, 0.6),rgba(89, 93, 92, 0.8)), url("./movieCollage.jpg");
    background-size: 30%;
    background-position: center;
    color: var(--mainWhite);
    margin-bottom: 0px;
    text-shadow: 4px 2px var(--darkBlue);
}

#favourites-head {
    font-size: 40px;
    margin-left: 10px;
}

.placehold-card {
    position: relative;
    text-align: center;
    color: white;
}
  
.top-left {
    position: absolute;
    top: 8px;
    left: 408px;
    font-size: 20px;
    background-color: var(--darkBlue);
}

.top-right {
    position: absolute;
    top: 8px;
    right: 408px;
    font-size: 20px;
    background-color: var(--darkBlue);
}

.container-search {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(300px, auto);
}

.container-search > * {
    border: 1px dotted black;
}

#home-button {
    padding: 10px;
}

#home-button-box {
    flex:1;
    padding: 10px;
}

main{
    background-color: var(--mainBlue);
}

#search-input2:hover{
    box-shadow: 0px 0px 2px 2px var(--babyBlue);
    transition: ease-in-out 0.2s;
}

#search-input2 {
    margin-top: 20px;
    padding: 5px;
    color: black;
    width: 250px;
}

#search-button2 {
    margin-top: 20px;
    padding: 5px 10px;
    margin-left: 10px;
    color: black;
    background-color:var(--mainWhite);
}

#search-button2:hover{
    box-shadow: 0px 0px 2px 2px var(--babyBlue);
    transition: ease-in-out 0.2s;
}
.row-movies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.row-movies > * {
    margin: 20px 0px;
    border: 1px dotted;
    min-width: 200px;
}

#movie-box {
    padding-top: 60px;
    margin: 0 60px;
}

#movie-box > * {
    margin-top: 5px;
    border: 1px solid black;
}
#return-msg {
    font-size: 26px;
    margin-top: 20px;
}

#error-msg{
    font-size: 20px;
    margin-top: 20px;
}

.searchResult{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--babyBlue);
    box-shadow: 4px 4px 2px 2px var(--darkBlue);
}

#movie-box :hover .poster {
    border: 5px solid var(--babyBlue);
}

.poster{
    flex: 3;
    flex-basis: 100%; 
}

.heart-card {
    position: relative;
    text-align: center;
}
  
.heart-ph {
    position: absolute;
    top: 8px;
    left: 16px;
}

.description{
    flex: 1;
}

 .carousel {
    width: 100%;
}

.buffer{
    padding: 40px;
}

.carousel-inner {
    background-color: var(--darkBlue);
}

.custom-modal-dialog{
    display: flex;
    max-width: 700px;
}

.custom-modal-head{
    background-color: var(--darkBlue);
    color: var(--mainWhite);
    font-size: 26px;
}

#closeX {
    color: var(--mainWhite);
}

.custom-modal-foot{
    background-color: var(--darkBlue);
    color: var(--mainWhite);
}

.custom-modal-main{
    display: flex;
    background-color: var(--babyBlue);
    gap: 20px;
}

.custom-modal-main ul li {
    margin-top: 5px;
}

#phIcon {
    margin: 5px;
}

strong {
    font-weight: 700;
}

@media screen and (min-width: 540px) {

    #search-button{
        margin-top: 10px;
    }

}

.modal{
text-shadow: none;
color: #2F4550;
}
